<header id="header" class="header">
  <div class="header-bar">
    <div class="header-bar-buttonGroup">
      <button id="js-menuTrigger" aria-expanded="false" aria-controls="header-global" aria-label="メニューボタン" class="header__hamburger">
        <span class="header__hamburger-line"></span>
      </button>
    </div>
  </div>

  <div id="header-global" aria-hidden="true" class="header-global js-void-transition preload">
    <nav class="header-global-nav">
      <div class="header-global-spElement">
        <button aria-label="メニューを閉じる" class="header__hamburger _spElement js-menuClose">
          <span class="header__hamburger-line"></span>
        </button>
      </div>
      <ul class="header-global-list">
        <li class="header-global-list-column">
          <ul>
            <li class="header-global-list__item">
              <a href="/" class="header-global-list__link js-links">
                Home
              </a>
            </li>
            <li class="header-global-list__item">
              <a href="/news/" class="header-global-list__link js-links">
                News
              </a>
            </li>
            <li class="header-global-list__item">
              <a href="#" class="header-global-list__link js-links">
                Dummy Link
              </a>
            </li>
            <li class="header-global-list__item">
              <a href="#" class="header-global-list__link js-links">
                Dummy Link
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header-global-image js-menuClose"></div>
  </div>
</header>
