@use "../global" as g;

.p-news-post__heading {
  margin-bottom: 44px;
  padding: 16px 0 24px;
  border-bottom: 1px solid #ccc;
  font-size: min(2.864vw, calc((32 / 16) * 1rem));
  line-height: 1.44;
  @include g.sp {
    margin-bottom: 6vw;
    padding: 3.2vw 0 6vw;
    @include g.font-size(24);
    line-height: 1.33;
  }
}

.p-news-post__button {
  width: 280px;
  margin: 80px auto 0;
  @include g.sp {
    width: 60vw;
    margin-top: 7.5vw;
  }
}

.p-news-post-article {
  padding: 74px 70px 80px;
  @include g.tab {
    padding: 74px 40px 80px;
  }
  @include g.sp {
    padding: 7vw 6.25vw 12.5vw;
  }
}
