@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

// color
$color-text-main: #eee;
$color-text-link: inherit;
$color-purple: #b85e8b;
$color-blue: #469a9e;
$color-gold: #c7a556;

// font
$font-default: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;