@use '../global' as g;

.c-news {
  &-contents {
    padding: 50px 70px 80px;
    @include g.sp {
      padding: 2.5vw 3.75vw 7.5vw;
    }
    &._top {
      margin-top: 40px;
      padding-bottom: 60px;
      @include g.sp {
        margin-top: 5vw;
        padding-bottom: 7.5vw;
      }
    }
  }
  &-list {
    &__item {
      border-bottom: 1px solid #ccc;
      &._noPosts {
        border-bottom: none;
        text-align: center;
        p {
          padding-top: 30px;
          @include g.sp {
            padding-top: 5vw;
          }
        }
      }
      a {
        display: flex;
        padding: 27px 12px;
        align-items: flex-start;
        @media screen and (max-width: 1000px) {
          padding: 4.75vw 2.5vw;
          flex-direction: column;
        }
      }
    }
    &__info {
      display: flex;
      align-items: center;
    }
    &__date {
      min-width: 82px;
      @include g.sp {
        min-width: 20.5vw;
      }
    }
    &__label {
      min-width: 110px;
      margin-left: 20px;
      padding-bottom: 1px;
      color: #fff;
      @include g.font-size(12);
      text-align: center;
      @include g.sp {
        min-width: 27.5vw;
        margin-left: 2vw;
        padding: 0.25vw 0;
        @include g.font-size(11);
      }
      &._purple {
        background: g.$color-purple;
      }
      &._indigo {
        background: #5161c9;
      }
      &._blue {
        background: g.$color-blue;
      }
      &._gold {
        background: g.$color-gold;
      }
    }
    &__text {
      margin-left: 30px;
      @media screen and (max-width: 1000px) {
        margin: 10px 0 0 0;
      }
      @include g.sp {
        margin: 2.5vw 0 0 0;
      }
      ._icon {
        margin: 0 0 3px 8px;
        vertical-align: middle;
        @include g.sp {
          width: 3vw;
          margin: 0 0 0.75vw 2vw;
        }
      }
    }
  }
}